* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    list-style-type: none;
    text-decoration: none;
    font-style: normal;
}

/*utils*/
a:visited {
    color: #fff;
}

.red {
    color: red;
}

.line {
    text-decoration: line-through;
}

/*general*/
.product img {}

img {
    max-width: 100%;
}


/*header*/
header {
    display: flex;
    justify-content: center;
    background-color: #FF6900;
    height: 80px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.35);
}

.container {
    display: flex;
    align-items: center;
    flex-basis: 75%;
}

.link ul {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-basis: 25%;
    font-weight: bold;
    color: #fff;
}

.logo {
    display: flex;
    justify-content: center;
    flex-grow: 1;

}

.logo img {
    width: 150px;
}

.account {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    flex-basis: 25%;
}


/*products*/
.product-container {
    display: flex;
    justify-content: center;
    margin-top: 90px;


}

.product-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 75%;
    min-height: 1000px;
    margin-top: 60px;
    padding: 30px;
}

.product {
    min-height: 650px;
    width: 440px;
    margin-bottom: 60px;
}

/*footer*/

footer {
    display: flex;
    justify-content: center;
    height: 80px;
}

.footer-box {
    display: flex;
    border: 2px dashed black;
    flex-basis: 75%;
}

.info-boolando {
    border: 2px dashed black;
    flex-grow: 1;
}

.socials {
    border: 2px dashed black;
    flex-basis: 20%;

}